
body {
  margin: 0;
  padding: 2rem 1.5rem;
  font: 1rem/1.5 "PT Sans", Arial, sans-serif;
  color: #222121;
}.container

{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30px 500px;
}
.head
{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 60px;    
    gap: 10px;
}
.intervalos 
{
    align-self: center;
    justify-self: center;
    grid-template-rows: 60px;
}
